/* IMPORTS BEGIN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?i5dxsx');
    src: url('fonts/icomoon.eot?i5dxsx#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?i5dxsx') format('truetype'),
        url('fonts/icomoon.woff?i5dxsx') format('woff'),
        url('fonts/icomoon.svg?i5dxsx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* IMPORTS END*/

/* GENERAL BEGIN */

*:focus {
    outline: none;
}

html {
    font-family: 'Poppins', sans-serif;
    color: #313131;
}

body {
    margin: 0px 30px;
    padding: 0;
    background-image: url(./images/background.jpg);
}

/* GENERAL END */

/* ICONMOON */
i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e903";
}

.icon-star:before {
    content: "\e902";
    margin-top: 3px;
    margin-left: 7px;
    float: left;
}

.icon-clock:before {
    content: "\e900";
    margin-top: 3px;
    margin-left: 7px;
    float: left;
}

.icon-heart:before {
    content: "\e901";
    color: #fff;
    position: absolute;
    z-index: 999;
    right: 23px;
    top: 15px;
    font-size: 35px;
}



/* ICONMOON END*/

/* NAV BEGIN */
#logoBackground {
    background-color: #A2CE2A;
    width: 80px;
    height: 80px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logoBackground img {
    width: 60px;
    height: 60px;
}

#logoBackground a {
    height: 60px;
}

#menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#menu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

#menu ul li a {
    text-decoration: none;
    font: 14px/21px Poppins;
    color: #313131;
}

#menu ul li a:hover {
    border-bottom: 2px solid #A2CE2A;
}


#active {
    border-bottom: 2px solid #A2CE2A;
}

/* NAV END */

/* FORM BEGIN */
#form {
    position: absolute;
    top: 0;
    bottom: 30vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;

}

#formTitle {
    font: normal normal bold 100px Poppins;
    text-align: center;
    margin: 0%;
}


#formSearchbar {
    width: 793px;
    height: 56px;
    background: #FFFFFF;
    border: 2px solid #A2CE2A;
    border-radius: 44px;
    text-align: center;
}

#formSearchbar::placeholder {
    color: #3131317e;
    font-size: 14px;
}

#formSearchbar:focus {
    outline: none;
}

#formSubmit {
    margin-top: 20px;
    width: 267px;
    height: 58px;
    border-radius: 44px;
    font-family: 'Poppins', sans-serif;
    background: #A2CE2A;
    border: none;
    color: #FFFFFF;
    font: 600 20px/20px Poppins;
}

#formSubmit:hover {
    background: #b7f01b;
}

#formFilters {
    width: 793px;
    margin-top: 20px;
}

#formFilter {
    float: left;
    border: 1px solid #A2CE2A;
    background: #ffffff;
    border-radius: 44px;
    font: 14px/21px Poppins;
    color: #313131;
    width: 89px;
    margin-left: 7px;
}

#formFilter label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
    border-radius: 44px;
}

#formFilter label input {
    position: absolute;
    top: -20px;
}

#formFilter input:checked+span {
    background-color: #A2CE2A;
    color: #fff;
}

#formFilter input:hover+span {
    background-color: #A2CE2A;
    color: #fff;
}

#formName,
#formDescription,
#formLongitude,
#formLatitude {
    width: 30vw;
    height: 30px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 2px solid #A2CE2A;
    border-radius: 44px;
    text-align: center;
}


/* FORM END */

#favorites {
    position: fixed;
    bottom: 5vh;
}


/* CARD BEGIN */
#card {
    display: inline-block;
    width: 266px;
    height: 372px;
    margin-bottom: 15px;
    margin-right: 15px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 44px;
}

#cardImageDiv {
    position: relative;
    width: 100%;
    height: 60%;
    border-radius: 44px;
}

#cardInfoStars {
    position: absolute;
    top: 28%;
    right: 5%;
    width: 50px;
    height: 20px;
    background: #A2CE2A;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 44px;
}

#cardInfoTime {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 50px;
    height: 20px;
    background: #A2CE2A;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 44px;
}

#cardInfoText {
    text-align: right;
    margin-right: 7px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

#cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 44px;
    box-shadow: 0px 3px 6px #00000029;
}


#cardTitle {
    height: 65px;
    margin-top: 4%;
    margin-bottom: 3%;
    text-align: center;
    text-transform: uppercase;
    font: 800 20px Poppins;
    overflow: hidden;
}

.cardButton {
    width: 60%;
    height: 12%;
    margin-left: 20%;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: 2px solid #A2CE2A;
    color: #A2CE2A;
    font: 600 20px/20px Poppins;
}

.cardButton:hover {
    background: #A2CE2A;
    color: #fff;
}

/* CARD END */

#filterDiv {
    position: absolute;
    height: 60vh;
    width: 20vw;
    top: 120px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 44px;
}

#searchResults {
    position: absolute;
    height: 85vh;
    width: 70vw;
    left: 25vw;
    top: 120px;
    border-radius: 44px;
}




/* MAP BEGIN*/
#mapBorder {
    position: relative;
    margin-top: 40px;
    border-radius: 44px;
    height: 80vh;
    overflow: hidden;
    border: 2px solid #A2CE2A;
    box-shadow: 0px 3px 6px #00000029;
}

#map {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 3%;
    bottom: 0;
    height: 90%;
    width: 25%;
    z-index: 999;
    margin: auto;
    overflow-y: scroll;
    border-radius: 14px;
    padding-right: 5px;
}

.marker {
    background-image: url('./images/logoIcon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}


.restaurantStyle {
    border: 2px solid #A2CE2A;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 14px;
    background-color: #fff;
    overflow-y: visible;
}

#restaurants .title {
    color: #A2CE2A;
    font-weight: 600;
    text-decoration: none;
}

.address {
    font-size: 12px;
    font-weight: 200;
    padding: 0px;
    margin: 0px;
}

.description {
    font-size: 14px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}


/* SCROLLBAR BEGIN */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #A2CE2A;
    border-radius: 10px;
}


/* SCROLLBAR END*/

/* MAP END*/


#recipeImage {
    margin-left: 40px;
    width: 40%;
    border-radius: 44px;
    overflow: hidden;
    display: inline-block;
}

#recipeImage img {
    width: 100%;
}

#recipeIngredients {

    width: 30%;
    display: inline-block;
    margin-left: 25px;
}

#recipe h2 {
    font-size: 35px;
    text-align: center;
}

#recipeInstructions {
    margin-left: 40px;
    width: 70%;
}

#recipeBackground {
    margin-top: 20px;
    border: 2px solid #A2CE2A;
    width: 65%;
    height: 80vh;
    background-color: #ffffffc2;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 44px;
}

#recipeBack {
    position: absolute;
    height: 70px;
    background-color: #A2CE2A;
    width: 70px;
    border-radius: 40px 0px 15px 0px;
}